/* Basic React.js app by Daniel Vega, 2015 */

@font-face {
	font-family: 'icomoon';
	src:url('icomoon/icomoon.eot?5e5xyq');
	src:url('icomoon/icomoon.eot?#iefix5e5xyq') format('embedded-opentype'),
		url('icomoon/icomoon.ttf?5e5xyq') format('truetype'),
		url('icomoon/icomoon.woff?5e5xyq') format('woff'),
		url('icomoon/icomoon.svg?5e5xyq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #ecf0f1;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

footer {
	background: #2980b9;
	color: white;
	border-radius: 5px;
  	color: white;
  	position: fixed;
  	bottom: 10px;
  	right: 10px;
  	padding: 10px;
}

header {
	background: #2980b9;
	color: white;
	font-size: 1.5rem;
	padding: 20px;
}

#map {
	box-shadow: -1px 1px 2px rgba(0,0,0,.3);
	height: 400px;
	margin: 0 3px 15px 3px;
}

.active-location {
	font-weight: bold;
}

.createdAt {
	color: gray;
	font-size: .7rem;
	font-style: italic;
}

.current-content {
    height: 51px;
	line-height: 20px;
	padding: 10px;
	text-align: center;
}

.location-favorite-title,
.current-title {
	background: #3498db;
	color: white;
	padding: 10px;
}

.location-favorite-wrapper,
.current-wrapper {
	background: white;
	border-radius: 6px;
	box-shadow: -1px 1px 2px rgba(0,0,0,.3);
	overflow: hidden;
}

.current-wrapper {
	height: 100px;
}

.current-wrapper span {
	margin: 0;
	margin-right: 5px;
}

.favorite-wrapper,
.map-wrapper {
	display: inline-block;
	vertical-align: top;
}

.form {
	background: white;
    box-shadow: -1px 1px 2px rgba(0,0,0,.3);
    border-radius: 5px;
	margin-bottom: 20px;
	padding-left: 5px;
}

.form:before {
	color: gray;
}

.input {
	background: transparent;
	border: 0px solid transparent;
	font-size: 1.2rem;
	font-style: italic;
	outline: none;
	padding: 10px;
	width: 95%;
}

.list-group-item {
	border-bottom: 1px solid rgba(0,0,0,.1);
	display: block;
	padding: 10px;
}

.location-favorite-items {
	height: 315px;
	overflow: auto;
}

.location-favorite-wrapper {
	height: 360px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.row .row {
	margin: 0;
}

.title {
	font-size: 1.5rem;
	padding: 30px 0;
	text-align: center;
}

.toggle-favorite-button {
	color: #f1c40f;
}

.toggle-favorite-button:hover {
	cursor: pointer;
}