@font-face
	font-family 'icomoon'
	src:url('fonts/icomoon.eot?s7m2ni');
	src:url('fonts/icomoon.eot?#iefixs7m2ni') format('embedded-opentype'),
		url('fonts/icomoon.ttf?s7m2ni') format('truetype'),
		url('fonts/icomoon.woff?s7m2ni') format('woff'),
		url('fonts/icomoon.svg?s7m2ni#icomoon') format('svg')
	font-weight normal
	font-style normal